In [3]:
import pandas as pd
allData = pd.read_csv('world.csv',usecols=['國家','日期','總確診數','新增確診數'],index_col='日期')
allData

             國家    總確診數  新增確診數
日期
2020-02-24  阿富汗       5      5
2020-02-25  阿富汗       5      0
2020-02-26  阿富汗       5      0
2020-02-27  阿富汗       5      0
2020-02-28  阿富汗       5      0
...         ...     ...    ...
2022-07-02  辛巴威  255586      0
2022-07-03  辛巴威  255586      0
2022-07-04  辛巴威  255726    140
2022-07-05  辛巴威  255755     29
2022-07-06  辛巴威  255805     50

[187885 rows x 3 columns]

In [5]:
allData.index = pd.to_datetime(allData.index)
allData.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 187885 entries, 2020-02-24 to 2022-07-06
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   國家      187885 non-null  object
 1   總確診數    187885 non-null  int64
 2   新增確診數   187885 non-null  int64
dtypes: int64(2), object(1)
memory usage: 5.7+ MB

In [8]:
allData.loc['2021-05']

             國家   總確診數  新增確診數
日期
2021-05-01  阿富汗  59939    194
2021-05-02  阿富汗  60122    183
2021-05-03  阿富汗  60300    178
2021-05-04  阿富汗  60563    263
2021-05-05  阿富汗  60797    234
...         ...    ...    ...
2021-05-27  辛巴威  38854     35
2021-05-28  辛巴威  38918     64
2021-05-29  辛巴威  38933     15
2021-05-30  辛巴威  38944     11
2021-05-31  辛巴威  38961     17

[6963 rows x 3 columns]